node_modules/
dist/
test-results/
playwright-report/
*.tsbuildinfo
.data/
.logs/
undefined
*.sqlite
.env.*.local
apps/uni-app/src/uni_modules/uni-config-center/uniCloud/cloudfunctions/common/uni-config-center/uni-id/config.json
